---
import Navbar from '@components/navbar'
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/blog-images/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>Mutiara Ilmu</title>
	</head>
	<body>
		<Navbar client:visible />
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
